<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Studio Hair</mat-card-title>
      <mat-card-subtitle>Sistema de Agendamento de Serviços</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/imagem-salao-home.jpg" alt="Imagem da Home do Studio Hair">
    <mat-card-content>
      <p>
        Seja bem vindo ao sistema de agendamento Studio Hair desenvolvido pelo grupo DVLM - Soluções.<br>
        Esse é um sistema para gerenciamento de agendamentos de serviços , tanto quanto também para os colaboradores e clientes de um salão de beleza.
      </p>
    </mat-card-content>
  </mat-card>