<div class="container">
    <form class="form mat-elevation-z8">
        <h2>Faça o seu login!</h2>

        <img src="assets/img/logotipopreta.png" alt="Logo tipo da Studio Hair preta">

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input [formControl]='email' required [(ngModel)]="log.email" name="email" matInput placeholder="Exemplo@mail.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [formControl]='senha' required [(ngModel)]="log.senha" name="senha" type="password" matInput placeholder="">
          </mat-form-field>
   
          <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z5" mat-raised-button >ENTRAR</button>
      </form>
</div>